
body {
  background-color: #202124;
  color:white;
}
a{
  text-decoration: none;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}

.box {
      background-color: #313235;
      border-radius: .5rem;
      box-shadow: 0 1px 2px 0 rgb(0 0 0 / 60%), 0 1px 3px 1px rgb(0 0 0 / 30%);
      width: 500px;
      height: auto;
      justify-content: center;
    }

 .buttons-box{
   margin: 10px 20px;
   display: flex;
   justify-content: space-between;
 }  
.quotes {
padding: 10px 20px;
  
}   
.author-box{
  display: flex;
  justify-content:flex-end;
}  
.author{
 font-size: 18px;

}
.quote{
  text-align: center;
  font-size: 25px;
 }

.buttons{
  cursor: pointer;
  color:white;
  padding: 10px 20px;
  background: transparent;
  text-align: center;
  border: .0625rem solid #5f6368;
  border-radius: .5rem;
}
.buttons:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
}



@media (max-width: 572px) {
  .container{
    padding: 20px;
  }

    .box{
      width: 400px;
    }
  .quote {
    font-size: 20px;
}
.author{
  font-size: 15px;
 
 }
 }

@media (min-width: 992px) {
  .container{
    padding: 20px;
  }

    .box{
      width: 450px;
    }
  .quote {
    font-size: 22px;
}
.author{
  font-size: 18px;
 
 }
}

